@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DataAccess.ViewModel.CourseViewModel

@{
    ViewData["Title"] = "Edit course " + Model.CourseName;
    Layout = "_Layout";
}

<form method="post" action="/Course/Edit">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Name:</label>
        <input name="CourseName" value="@Model.CourseName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Description:</label>
        <input name="CourseDesc" value="@Model.CourseDesc" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success" />
    </div>
</form>